appdirs
asgiref
beautifulsoup4
Bottleneck
Brotli
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
Django
fonttools==4.25.0
frozendict
html5lib
idna
joblib
kiwisolver
lxml
multitasking
munkres==1.1.4
numexpr
numpy==1.26.3
packaging
pandas==2.1.4
pandas-datareader
peewee
Pillow
plotly
ply
pycparser
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
pytz
requests
setuptools==68.2.2
sip
six
soupsieve
sqlparse
tenacity
threadpoolctl
tornado
tzdata
urllib3
waitress
webencodings
wheel==0.41.2
win-inet-pton
yfinance